<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>折线图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF08356D1E8D3578000A76B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF0835861E8D3578000A76B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF0835911E8D3578000A76B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
